.instructors-container {
  padding: 20px;
  font-family: Arial;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  color: gray;
}

.add-btn {
  background: #dc2626;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Search */
.filters {
margin-bottom:20px ;
}

.search-box {
  position: relative;
  width: 55%;
}

/* input */
.search-box input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  background: #f1f1f1;
  padding-inline-start: 35px;
}

.search-icon {
  position: absolute;
  inset-inline-start: 10px; 
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
/* Table */
.table-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 1px black;
  margin-top: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

thead tr {
  border-bottom: 2px solid #eee;
}
.phone {
  direction: ltr;
  text-align: left;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions svg {
  font-size: 26px;
  color: #333;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.actions .delete {
  background: #fee2e2;
  color: red;
}



[dir="rtl"] table {
  direction: rtl;
}

[dir="rtl"] th,
[dir="rtl"] td {
  text-align: right;
}

[dir="ltr"] th,
[dir="ltr"] td {
  text-align: left;
}



/* اضافة مدرب جديد */

.add-container {
  padding: 20px;
  font-family: Arial;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  background: #dc2626;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Form */
.form-box {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  background: #f1f1f1;
}

/* Row (2 columns) */
.row {
  display: flex;
  gap: 15px;
}

.row .form-group {
  flex: 1;
}

/* Submit */
.submit-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submit-btn {
  background: #dc2626;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* show instructors */


.form-box img{
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}