# Logs

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies

node_modules/

# Build files

dist/
dist-ssr/
build/

# Environment variables

.env
.env.*
*.local

# Editor directories and files

.vscode/*
!.vscode/extensions.json
.idea/

# OS files

.DS_Store
Thumbs.db

# Misc

coverage/

.vercel

# =====
frontend_agent_context_Tsquare.md
how to use.md