html,
body {
  font-family: "Inter", "Tajawal", sans-serif; /* تأكد من استدعاء الخطوط */
}
* {
  font-family: "Inter", "Tajawal", sans-serif; /* تأكد من استدعاء الخطوط */
}
/* ===== Global Scrollbar Styling ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #be1522 #f0f0f0;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #be1522;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #8b0f1a;
}
.custom-pagination .page-link {
  color: #be1522;
  border: none;
  margin: 0 4px;
  border-radius: 8px;
  font-weight: 600;
}

.custom-pagination .page-item.active .page-link {
  background-color: #be1522;
  color: white;
}